{% extends 'platform_base.html' %}

{% block content %}
    <h3 class="mb-4">የተጠቃሚ ዝርዝር</h1>

    <div class="m-3">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button 
                type="button" class="btn btn-outline-primary"
                onclick="window.location.href='{% url 'create_user'%}'"
            >
                አዲስ ተጠቃሚ ጨምር
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button 
                type="button" class="btn btn-outline-primary"
                onclick="window.location.href='{% url 'product_transaction_list_admin'%}'"
            >
                የወጪ እቃዎች ዝርዝር
            </button>
        </div>

        {% comment %} hms {% endcomment %}
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button 
                type="button" class="btn btn-primary"
                onclick="window.location.href='{% url 'add_warehouse'%}'"
            >
                አዲስ ስቶር ጨምር
            </button>

            <button 
                type="button" class="btn btn-primary"
                onclick="window.location.href='{% url 'add_category'%}'"
            >
                አዲስ የዕቃ አይነት ጨምር
            </button>

            <button 
                type="button" class="btn btn-primary"
                onclick="window.location.href='{% url 'add_department'%}'"
            >
                አዲስ የስራ ክፍል ጨምር
            </button>
        </div>

        {% comment %} ims {% endcomment %}
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button 
                type="button" class="btn btn-outline-primary"
                onclick="window.location.href='{% url 'add_address'%}'"
            >
                አዲስ አድራሻ ጨምር
            </button>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-1">ተራ ቁ.</th>
                <th scope="col">መለያ</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
                <tr>
                    <th scope="row" class="col-1">{{forloop.counter}}</th>
                    <td>
                        <a href="{% url 'edit_profile' profile.id %}">
                            {{ profile.user.username }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
