{% extends 'platform_base.html' %}

{% block primary_pane_content %}
    {{primary_pane_html|safe}}
{% endblock primary_pane_content %}


{% block secondary_pane_content %}
    {{secondary_pane_html|safe}}
{% endblock secondary_pane_content %}

{% block script %}
<script>
    const userCompanyId = "{{user.profile.company.id|safe}}"; 

    const ws = new WebSocket('ws://'+ window.location.host+ '/ws/hms/hmsproduct/'
        + userCompanyId+ '/'
    );

    ws.onopen = function(event) {
        console.log('WebSocket connection opened');
      };

    ws.onmessage = function(e) {
        const data = JSON.parse(e.data);
        updateTemplate()
    };

    ws.onclose = function(e) {
        console.error('Websocket connection closed');
    };

    {% comment %} product_list {% endcomment %}
    // function to update the inventory, called in message receive
    function updateTemplate() {
        fetch("{% url 'product_list' %}") 
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(htmlData => {
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = htmlData; 
                const updatedHtmlData = tempDiv.querySelector('#hms-product-list-html-template-content').innerHTML; 
                
                if (updatedHtmlData) {
                    console.log("raw html", htmlData)
                    console.log("html to be updated", updatedHtmlData)

                    // TODO: update this to use even listners to update dom in asyncrounous manner
                    document.getElementById('hms-product-list-html-template-content').innerHTML = updatedHtmlData;

                    // console something out to allow the DOM to update before executing further code
                    console.log("html updated successfully")
                } else {
                    console.error('Element with id "hms-product-list-html-template-content" not found in the updated HTML.');
                }
            })
            .catch(error => {
                console.error('Error fetching updated data:', error);
            });
    }

    {% comment %} add_product {% endcomment %}
    // Function to handle form submission and update the section
    function hmsAddProduct(event) {
        event.preventDefault(); 
        const form = document.getElementById('hms-add-product-form');
        const formData = new FormData(form);

        fetch("{% url 'add_product' %}", {
            method: "POST",
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest' 
            }
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('add-product-section').innerHTML = data;
        })
        .catch(error => {
            console.error(error);
        });
    }

    // Add an event listener to the form for AJAX submission
    const addProductForm = document.getElementById('hms-add-product-form');
    addProductForm.addEventListener('submit', hmsAddProduct);

    // send product added message to the hmsproduct websocket
    document.querySelector('#submit-new-product').onclick = function(e) {
        message = "hms_product_added"
        ws.send(JSON.stringify({
            'message': message
        }));
        message = "";
    };

</script>
{% endblock script %}