{% extends 'platform_base.html' %}

{% block content %}
    <h1>Transactions for Product: {{ product.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Description</th>
                <th>Timestamp</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>
                    <a href="{% url 'close_checkout' case_id=transaction.transaction_id %}">
                    {{ transaction.get_transaction_display }}
                    </a>
                </td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.timestamp }}</td>
                <td>{{ transaction.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}