<div id='hms-product-list-html-template-content'>
{% for item in all_inventory %}
    <div class="item-row">
        <div class="item-column">{{ item.name }}</div>
        <div class="item-column">{{ item.sku }}</div>
        <div class="item-column">{{ item.quantity }}</div>
        <div class="item-column">
            <a href="{% url 'product_transaction_list' product_id=item.id %}">
                {{ item.change_request }}
            </a>
        </div>
        <div  class="item-column">
            <a href="{% url 'restock_product' product_id=item.id %}">
                restock
            </a>
        </div>
    </div>
{% endfor %}
</div>

<script>
    // add template name to variable name to avoid redeclaration error
    // on combined templates (in sidebar)
    const productListCompanyId = "{{company.id|safe}}"; 

    const productListChatSocket = new WebSocket('ws://'+ window.location.host+ '/ws/hms/hmsproduct/'
        + productListCompanyId+ '/'
    );

    productListChatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        updateTemplate()
    };

    productListChatSocket.onclose = function(e) {
        console.error('Websocket closed');
    };

    // function to update the inventory, called in message receive
    function updateTemplate() {
        fetch("{% url 'product_list' %}") 
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(htmlData => {
                const tempDiv = document.createElement('div'); // Create a temporary div element
                tempDiv.innerHTML = htmlData; // Set its innerHTML to the fetched HTML data
                const updatedHtmlData = tempDiv.querySelector('#hms-product-list-html-template-content').innerHTML; // Get the desired element
                
                if (updatedHtmlData) {
                    // TODO: update this to use even listners to update dom in asyncrounous manner
                    document.getElementById('hms-product-list-html-template-content').innerHTML = updatedHtmlData;

                    // console something out to allow the DOM to update before executing further code
                    console.log("html updated successfully")
                } else {
                    console.error('Element with id "hms-product-list-html-template-content" not found in the updated HTML.');
                }
            })
            .catch(error => {
                console.error('Error fetching updated data:', error);
            });
    }

</script>