{% for item in all_inventory %}
    <div class="item-row">
        <div class="item-column">{{ item.name }}</div>
        <div class="item-column">{{ item.sku }}</div>
        <div class="item-column">{{ item.quantity }}</div>
        <div class="item-column">
            <a href="{% url 'product_transaction_list' product_id=item.id %}">
                {{ item.change_request }}
            </a>
        </div>
        <div  class="item-column">
            <a href="{% url 'restock_product' product_id=item.id %}">
                restock
            </a>
        </div>
    </div>
{% endfor %}

<a href="{% url 'add_product' %}">Add New Item</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateProductList() {
            fetch("{% url 'product_list' %}")
                .then(response => response.text())
                .then(data => {
                    document.getElementById('product-list-container').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        }

        // Call the updateProductList function initially to load the product list
        updateProductList();
    });
</script>
