{% extends 'base.html' %}

{% block content %}
    <h1>Restock Product: {{ product.name }}</h1>
    <p>Current Quantity: {{ product.quantity }}</p>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}

<form method="post">
    {% csrf_token %}
    <label for="restock_quantity">Restock Quantity:</label>
        <input type="number" name="restock_quantity" required step="0.01">
    <button type="submit">Restock</button>
</form>

<a href="{% url 'warehouse_dashboard' %}">Back to Product List</a>
{% endblock content %}