{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
      {% block base_content %}
      
      {% endblock base_content %}
    </div>
   
</body>
{% comment %} <script src="{% static 'js/hms.js' %}"></script> {% endcomment %}
</html>